/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* let's clear some floats */
.clearfix:after { 
    content: " "; 
    display: block; 
    clear: both; 
}

* {
    box-sizing: border-box;
}

html{
    font-size: 62.5%;       /* makes rem = 10px, which is easier to calculate */
}

body{
    font-family: 'Roboto', sans-serif;
}

/*-------HEADER-------*/

header{
	width: 100%;
	background-color: rgba(240, 239, 239, 0.671);
	text-align: center;
	padding-bottom: 3rem;
}

header h1 {
	text-align: center;
	font-size: 2.5rem;
	padding: 2rem;
}

header a {
	display: block;
	width: 90%;
	font-size: 1.5rem;
	text-decoration: none;
	color:black;
	background: white;
	padding: .8rem 0;
	margin: 5px auto;
}

.profilepic{
	width: 65%;
	padding: 3rem 0;
}

p {
	width: 90%;
	margin: auto;
	font-size: 1.5rem;
	line-height: 1.2;
}

/*-------PORTFOLIO-------*/

.portfolio{
	width: 100%;
	text-align: center;
}

h2{
	font-size: 2rem;
	padding: 3rem 0;
}

img{
	width: 90%;
}

.marketing{
	padding-bottom: 3rem;
}

.search{
	padding-bottom: 3rem;
}

.travel{
	padding-bottom: 3rem;
}

.map{
	padding-bottom: 3rem;
}

.photo{
	padding-bottom: 3rem;
}

.calculator{
	padding-bottom: 3rem;
}

.contact{
	text-align: center;
	background: rgba(240, 239, 239, 0.671);
}

.contact p{
	padding: 1rem;
	line-height: 1.5;
}

h3{
	font-size: 2rem;
	padding:2rem;
}
#bottomborder{
	border-bottom: solid lightgrey 1px;
	width: 85%;
	margin: 0 auto;
}

/*-------FOOTER-------*/

footer{
	background-color: rgba(240, 239, 239, 0.671);
}

footer h3{
	font-size: 1.5rem;
	float: left;
}

footer a{
	float: right;
	padding: 2rem;
	text-decoration: none;
	color: black;
	font-size: 1.3rem;
}

a:hover{
	color:red;
}

a{
	text-decoration: none;
	color: black;
}

.exculed{
	display: none;
}

@media (min-width: 768px){
	
	
	header h1{
		font-size: 3rem;
	}

	header a{
	display: inline;
	margin: 2rem;
	background: none;
	font-size: 2rem;
	}

	.profilepic{
		width: 40%;
		float: right;
		padding: 2rem;
	}

	header p{
		font-size: 1.9rem;
		text-align: left;
		padding-top: 6rem;
	}

	.marketing{
		clear: both;
	}

	.portfolio{
		clear: both;
	}
	
	.marketing{
		clear: both;
		padding: 0;
	}

	.marketingbox{
		width: 50%;
		float:left;
	}

	.searchbox{
		width: 50%;
		float: left;		
	}

	.travel{
		width: 50%;
		float: left;
	}

	.map{
		width: 50%;
		float: left;
	}

	.photo{
		width: 50%;
		float:left;
	}
	.calculator{
		width: 50%;
		float: left;
	}

	.contact{
		clear:both;
	}

	.contact p{
		width: 50%;
	}

	.backtotop{
		display: none;
	}
}